.note-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.sticky-add-note {
    position: sticky;
    top: 0;
    z-index: 10;

}

.notes-wrapper {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.notes-wrapper::-webkit-scrollbar {
    display: none;
}

.notes-scroll {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    width: 100%;
    padding-top: 20px;
    grid-auto-rows: minmax(150px, auto);
    padding-bottom: 150px;
}