.sidebar {
  width: 250px !important;
  flex-shrink: 0;
  background-color: white;
  height: 100vh; // Full viewport height
  border-right: 1px solid #ddd;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden; // Prevents unwanted scrolling

  .MuiDrawer-paper {
    width: 250px ;
    background-color: white;
    height: calc(100vh - 80px); // Adjust for navbar height
    padding-top: 80px; // Space for navbar
    overflow: hidden; // Prevents overflow scrolling
  }

  .icon {
    margin-right: 20px;
  }
}