.sidebar-main {
    height: calc(100vh - 64px); 
    position: fixed;
    top: 64px; 
    left: 0;
    transition: width 0.3s ease;

    &.expanded {
        width: 250px;
    }

    &.collapsed {
        width: 65px;

        .MuiListItemText-root {
            display: none;
        }
    }

    .MuiDrawer-paper {
        width: inherit;
        height: calc(100vh - 64px);
        top: 64px !important;
        transition: width 0.3s ease-in-out;
    }
}

.MuiListItem-root {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 20px;

    &:hover {
        background-color: #f1f3f4;
        border-radius: 0 25px 25px 0;
    }
}

.MuiListItemIcon-root {
    color: #5f6368;
}
